.row
  .col-md-1
    .row
      = link_to "novo concurso", new_project_path
    .row
  .col-md-11
    - if @projects.present?
      - @projects.each do |project|
        .col-md-3
          .bs-component
            .panel.panel-default
              .panel-body{'style':'height: 250px;'}
                .row
                  .col-md-10
                    %h4
                      %b.project-link= link_to project.title, project_path(project)
                .row
                  .col-md-12
                    .title-opacity= project.description 
  
      
    - else
      não existem concursos ativos.
