= simple_form_for [@project, @consult] do |f|
  .row
    .col-md-12
      = f.input :title
  .row
    .col-md-12
      = f.input :content
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-warning'