.row
  .col-md-12
    %ul.list-group
      %li.list-group-item= link_to "Realizar Inscrição", project_project_subscribes_path(@project)
      %li.list-group-item= link_to "Nova Consulta", new_project_consult_path(@project)
%hr/  